extends ../layout

block main
    p!= content
    form(method="post" action="/users/login")
        .mb-3
            label.form-label(for="name") NAME
            input#name.form-control(type="text" name="name" autocomplete="off")
        .mb-3
            label.form-label(for="password") PASSWORD
            input#password.form-control(type="password" name="password")
        button.btn.btn-primary(type="submit") ログイン

    if hasMessages
        section.text-danger
            each m in messages
                p= m

    .mt-4
        a(href="/boards") << Top へ戻る
        | &nbsp;|&nbsp;
        a(href="/users/signup") アカウントの作成 >>